[Unit]
Description=Install Flatpak applications from Flatpakfile

[Service]
ExecStart=/usr/bin/sh -c "xargs /usr/bin/flatpak install < ~/.Flatpakfile"
