[Unit]
Description=Dump Flatpak configuration to Flatpakfile

[Service]
ExecStart=/usr/bin/sh -c "/usr/bin/flatpak list --app --columns=application > ~/.Flatpakfile"

[Install]
WantedBy=default.target
