# Theming
export GTK2_RC_FILES="~/.gtkrc-2.0"
export QT_STYLE_OVERRIDE="gtk"
export XDG_CURRENT_DESKTOP="gnome"
export BACKGROUND_IMAGE="~/pictures/DREAMS/SWEET.jpg"
# dmenu
export PANEL_HEIGHT=20
export PANEL_FOREGROUND="#000000"
export PANEL_BACKGROUND="#ffffff"
export DMENU_OPTIONS="-i -t -o 0.8 -dim 0.2 -h $PANEL_HEIGHT -w 400 -l 20 -fn Sans-10:normal -nb $PANEL_BACKGROUND -nf $PANEL_FOREGROUND -sb #073642 -sf $PANEL_BACKGROUND"
