keybinds clear-defaults=true {
  locked {
    bind "Alt i" { SwitchToMode "Normal"; }
  }
  shared_except "locked" {
    bind "Alt i" { SwitchToMode "locked"; }

    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt h" { MoveFocusOrTab "Left"; }
    bind "Alt l" { MoveFocusOrTab "Right"; }
    bind "Alt J" { MovePane "Down"; }
    bind "Alt K" { MovePane "Up"; }
    bind "Alt H" { MovePane "Left"; }
    bind "Alt L" { MovePane "Right"; }
    bind "Alt =" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }

    bind "Alt y" { ToggleFloatingPanes; }
    bind "Alt Y" { TogglePaneEmbedOrFloating; }
    bind "Alt p" { ToggleFocusFullscreen; }
    bind "Alt P" { TogglePaneFrames; }
  }
  shared_except "locked" "renamepane" "renametab" "entersearch" {
    bind "Enter" { SwitchToMode "locked"; }

    bind "O" {
      SwitchToMode "locked";
      LaunchOrFocusPlugin "zellij:session-manager" {
        floating true
          move_to_focused_tab true
      };
    }
    bind "e" { SwitchToMode "locked"; EditScrollback;  }
    bind "?" { SwitchToMode "Scroll"; }
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
  }
  shared_except "normal" "locked" "renamepane" "renametab" "entersearch" {
    bind "Esc" { SwitchToMode "Normal"; }
  }
  shared_except "pane" "locked" "renamepane" "renametab" "entersearch" {
    bind "u" { SwitchToMode "Pane"; }
  }
  shared_except "tab" "locked" "renamepane" "renametab" "entersearch" {
    bind "o" { SwitchToMode "Tab"; }
  }
  normal {
    bind "Esc" { SwitchToMode "locked"; }

    bind "j" { MoveFocus "Down"; SwitchToMode "locked"; }
    bind "k" { MoveFocus "Up"; SwitchToMode "locked"; }
    bind "h" { MoveFocusOrTab "Left"; SwitchToMode "locked"; }
    bind "l" { MoveFocusOrTab "Right"; SwitchToMode "locked"; }
    bind "J" { MovePane "Down"; SwitchToMode "locked"; }
    bind "K" { MovePane "Up"; SwitchToMode "locked"; }
    bind "H" { MovePane "Left"; SwitchToMode "locked"; }
    bind "L" { MovePane "Right"; SwitchToMode "locked"; }
    bind "=" { Resize "Increase"; SwitchToMode "locked"; }
    bind "-" { Resize "Decrease"; SwitchToMode "locked"; }

    bind "y" { ToggleFloatingPanes; SwitchToMode "locked"; }
    bind "Y" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
    bind "p" { ToggleFocusFullscreen; SwitchToMode "locked"; }
    bind "P" { TogglePaneFrames; SwitchToMode "locked"; }

    bind "1" { GoToTab 1; SwitchToMode "locked"; }
    bind "2" { GoToTab 2; SwitchToMode "locked"; }
    bind "3" { GoToTab 3; SwitchToMode "locked"; }
    bind "4" { GoToTab 4; SwitchToMode "locked"; }
    bind "5" { GoToTab 5; SwitchToMode "locked"; }
    bind "6" { GoToTab 6; SwitchToMode "locked"; }
    bind "7" { GoToTab 7; SwitchToMode "locked"; }
    bind "8" { GoToTab 8; SwitchToMode "locked"; }
    bind "9" { GoToTab 9; SwitchToMode "locked"; }

    bind "Z" { Detach; }
  }

  pane {
    bind "r" { TogglePaneFrames; SwitchToMode "RenamePane"; PaneNameInput 0; }
    bind "u" { NewPane; }
    bind "d" { CloseFocus; }

    bind "j" { MoveFocus "Down"; }
    bind "J" { MovePane "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "K" { MovePane "Up"; }
    bind "h" { MoveFocus "Left"; }
    bind "H" { MovePane "Left"; }
    bind "Alt H" { BreakPaneLeft; }
    bind "l" { MoveFocus "Right"; }
    bind "L" { MovePane "Right"; }
    bind "Alt L" { BreakPaneRight; }

    bind "=" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }

    bind "y" { ToggleFloatingPanes; }
    bind "Y" { TogglePaneEmbedOrFloating; }
    bind "p" { ToggleFocusFullscreen; }
    bind "P" { TogglePaneFrames; }
    bind "[" { PreviousSwapLayout; }
    bind "]" { NextSwapLayout; }
  }
  renamepane {
    bind "Enter" "Ctrl d" { SwitchToMode "Pane"; TogglePaneFrames; }
    bind "Esc" "Ctrl c" { UndoRenamePane; SwitchToMode "Pane"; TogglePaneFrames; }
  }

  resize {
    bind "j" { Resize "Increase Down"; }
    bind "J" { Resize "Decrease Down"; }
    bind "k" { Resize "Increase Up"; }
    bind "K" { Resize "Decrease Up"; }
    bind "h" { Resize "Increase Left"; }
    bind "H" { Resize "Decrease Left"; }
    bind "l" { Resize "Increase Right"; }
    bind "L" { Resize "Decrease Right"; }
    bind "=" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }
  }

  tab {
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "o" { NewTab; SwitchToMode "Tab"; }
    bind "d" { CloseTab; }

    bind "j" "l" { GoToNextTab; }
    bind "k" "h" { GoToPreviousTab; }
    bind "K" "H" { BreakPaneLeft; }
    bind "J" "L" { BreakPaneRight; }

    bind "1" { GoToTab 1; }
    bind "2" { GoToTab 2; }
    bind "3" { GoToTab 3; }
    bind "4" { GoToTab 4; }
    bind "5" { GoToTab 5; }
    bind "6" { GoToTab 6; }
    bind "7" { GoToTab 7; }
    bind "8" { GoToTab 8; }
    bind "9" { GoToTab 9; }
  }
  renametab {
    bind "Enter" "Ctrl d" { SwitchToMode "Tab"; }
    bind "Esc" "Ctrl c" { UndoRenameTab; SwitchToMode "Tab"; }
  }

  shared_among "scroll" "search" {
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }

    bind "j" "Down" "Ctrl e" { ScrollDown; }
    bind "k" "Up" "Ctrl y" { ScrollUp; }
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "Ctrl f" "PageDown" { PageScrollDown; }
    bind "Ctrl b" "PageUp" { PageScrollUp; }
    bind "g" "Home" { ScrollToTop; }
    bind "G" "End" { ScrollToBottom; }

    bind "n" { Search "down"; }
    bind "N" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "W" { SearchToggleOption "WholeWord"; }
  }
  entersearch {
    bind "Enter" "Ctrl d" { SwitchToMode "Search"; }
    bind "Esc" "Ctrl c" { SwitchToMode "Normal"; }
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
//
// session_serialization false

// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
serialize_pane_viewport true

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
//
// scrollback_lines_to_serialize 10000

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
  one-dark-nuanced {
    fg 171 178 191
      bg 50 56 66
      black 63 68 81
      red 224 108 117
      green 152 195 121
      yellow 209 154 102
      blue 97 175 239
      magenta 198 120 221
      cyan 86 182 194
      white 230 230 230
      orange 216 133 76
  }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "one-dark-nuanced"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact-top"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
mouse_mode true

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// Default: true
//
// styled_underlines false
