[Desktop Entry]
Comment=hyperextensible Vim-based text editor
Exec=/usr/bin/zsh -i -c '/var/home/linuxbrew/.linuxbrew/bin/nvim -- "%F"'
GenericName=Text Editor
Icon=/var/home/lietk12/.local/share/icons/applications/neovim.png
Keywords=text;txt;editor;programming;programmer;development;developer;code;
MimeType=text/plain;inode/directory;
Name=Neovim
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=nvim
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
