[Desktop Entry]
Comment=Simple Git TUI
Exec=~/.local/bin/run-in-zsh.sh lazygit -p %u
GenericName=Git TUI
Icon=preferences-git
Keywords=git
MimeType=inode/directory;
Name=Lazygit
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=lazygit
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
